.idea
.DS_Store
cmake-build-debug


1s-001-reiz/reiz.out
1s-097-super/super.out

1s-025-burti/burti.out

2s-031-labi/labi.out

3s-010-siltumtrase/trase.out

1s-099-cik/cik.out

2s-038-taka/taka.out

4s-26-baseins/baseins.out
